In [1]:
#atualizando a lib
!pip install -U openpyxl -q

     |████████████████████████████████| 245kB 5.4MB/s

In [2]:
#importando o pandas e os dados
import pandas as pd

df = pd.read_excel('/content/controle_da_empresa.xlsx')

In [3]:
df.head()

   Código                 Item  ...  Unidade de Medida  Estoque Atual
0  SIG001     Canon 6D Mark II  ...            Unidade             13
1  SIG002    Canon 5D Mark III  ...            Unidade              1
2  SIG003     Lente 85mm f/1.4  ...            Unidade              6
3  SIG004     Lente 50mm f/1.4  ...            Unidade             10
4  SIG005  Lente 16-35mm f/2.8  ...            Unidade             11

[5 rows x 7 columns]

**Transformando para xlsx**

In [4]:
#importando os pacotes necessários
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows

In [6]:
#criando a planilha
workbook = Workbook()

#acessando a aba
sheet = workbook.active

In [7]:
#iterando sobre o dataframe, inserindo os dados nas células
for row in dataframe_to_rows(df,index=False,header=True):
  sheet.append(row)

#salvando a planilha
workbook.save(filename='salvo_no_openpyxl.xlsx')

**Convertendo XLSX para DF**

In [9]:
#buscando os nomes das colunas
for value in sheet.iter_rows(min_row=1,
                             max_row=1,
                             min_col =1 ,
                             max_col =7 ,
                             values_only=True):
  cols = value
  print(cols)

('Código', 'Item', 'Estoque Mínimo', 'Custo da Unidade', 'Preço da Unidade', 'Unidade de Medida', 'Estoque Atual')

In [12]:
#coletando os valores para DF
values = sheet.values

#criando o dataframe
df_xl = pd.DataFrame(values)

#nomeando as colunas
df_xl.columns = cols

#eliminando a linha repetida
df_xl.drop(df_xl.index[0],inplace= True)

In [13]:
#visualizando o dataset
df_xl.head()

   Código                 Item  ... Unidade de Medida Estoque Atual
1  SIG001     Canon 6D Mark II  ...           Unidade            13
2  SIG002    Canon 5D Mark III  ...           Unidade             1
3  SIG003     Lente 85mm f/1.4  ...           Unidade             6
4  SIG004     Lente 50mm f/1.4  ...           Unidade            10
5  SIG005  Lente 16-35mm f/2.8  ...           Unidade            11

[5 rows x 7 columns]

**Ou pela maneira mais fácil**

In [14]:
df = pd.read_excel('/content/controle_da_empresa.xlsx')

In [15]:
df.head()

   Código                 Item  ...  Unidade de Medida  Estoque Atual
0  SIG001     Canon 6D Mark II  ...            Unidade             13
1  SIG002    Canon 5D Mark III  ...            Unidade              1
2  SIG003     Lente 85mm f/1.4  ...            Unidade              6
3  SIG004     Lente 50mm f/1.4  ...            Unidade             10
4  SIG005  Lente 16-35mm f/2.8  ...            Unidade             11

[5 rows x 7 columns]