In [1]:
#criando um dicion√°rio com itens
exemplo = {"Victor":20,"Daniel":19,"Cleiton":16,"Dandim":5}

In [2]:
exemplo

{'Cleiton': 16, 'Dandim': 5, 'Daniel': 19, 'Victor': 20}

In [3]:
#verificando as chaves
exemplo.keys()

dict_keys(['Victor', 'Daniel', 'Cleiton', 'Dandim'])

In [4]:
#acessar idade do Cleiton
exemplo["Cleiton"]

16

In [6]:
exemplo["Mateus"] = 19

In [7]:
exemplo

{'Cleiton': 16, 'Dandim': 5, 'Daniel': 19, 'Mateus': 19, 'Victor': 20}

In [8]:
#excluir intem
exemplo.pop("Mateus")
print(exemplo)

{'Victor': 20, 'Daniel': 19, 'Cleiton': 16, 'Dandim': 5}