In [1]:
# importando o pandas
import pandas as pd

df = pd.read_excel('https://www.dropbox.com/s/v0x8mbaygdqubli/contas_a_pagar.xlsx?dl=1')

In [2]:
df

   pagamento    valor  codigo_pagamento
0  imposto x   458.86      123456789012
1  imposto y   467.69      123456789012
2  imposto z    25.15      555444332221
3       agua   951.31      568754456745
4        luz  1548.25      546982454523
5   internet   798.99      364821542215
6  segurança  1439.54      546982454123
7  segurança  1439.54      546982454123
8        luz   147.45      546982454523

In [3]:
#verificando se há linhas repetidas
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
dtype: bool

In [4]:
#verificando duplicadas no código do pagamento
df.duplicated(subset="codigo_pagamento")

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7     True
8     True
dtype: bool

In [5]:
#excluíndo duplicates
df.drop_duplicates(inplace=True)

In [6]:
df

   pagamento    valor  codigo_pagamento
0  imposto x   458.86      123456789012
1  imposto y   467.69      123456789012
2  imposto z    25.15      555444332221
3       agua   951.31      568754456745
4        luz  1548.25      546982454523
5   internet   798.99      364821542215
6  segurança  1439.54      546982454123
8        luz   147.45      546982454523

In [7]:
#excluíndo códigos duplicados
df.drop_duplicates(subset='codigo_pagamento',inplace=True)

In [8]:
df

   pagamento    valor  codigo_pagamento
0  imposto x   458.86      123456789012
2  imposto z    25.15      555444332221
3       agua   951.31      568754456745
4        luz  1548.25      546982454523
5   internet   798.99      364821542215
6  segurança  1439.54      546982454123